body{
    background-color: rgb(42, 13, 80);
    color: aliceblue;
    text-align: center;
}

header h1{
    margin-top: 100px;
}


#container {
    width: 80%;
    background-color: aliceblue;
    color: black;
    text-align: center;
    margin: 0 auto;
    padding: 20px ;
    border-radius: 20px;
    box-shadow: 4px 3px 3px 1px black;
}