body{
    text-align: center;
    color: aliceblue;
    background-color: rgb(12, 12, 12);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;

}

h1{
    margin-top: 20vh;
}
input{
    border-radius: 20px;
    background-color: rgb(56, 55, 55);
    padding: 10px 20px;
    border: none;
    outline: none;
    /* transition: 1s; */
    color: rgb(235, 53, 53);
    font-size: 19px;
    font-weight: bold;
}

input:hover{
    outline: 2px solid beige;
    transition: .105s;
}